[Unit]
Description=An open source centralized cluster manager. 
After=network.target

[Service]
Type=simple
User={{ ZOOKEEPER_USER }}
WorkingDirectory={{ ZOOKEEPER_OPT }}
{% if ZOOKEEPER_USE_PODMAN %}
ExecStart=/usr/bin/podman run --name {{ ZOOKEEPER_NAME }} --network {{ ZOOKEEPER_NETWORK }} -v {{ ZOOKEEPER_VAR }}:/var/zookeeper:Z -v {{ ZOOKEEPER_OPT }}/conf:/conf:Z --rm -e ZOO_DATA_DIR={{ ZOOKEEPER_DATA }} {{ ZOOKEEPER_NAME }}:{{ ZOOKEEPER_VERSION }}
ExecStop=/usr/bin/podman rm {{ ZOOKEEPER_NAME }} -f
{% else %}
ExecStart={{ ZOOKEEPER_OPT }}/bin/zkServer.sh start-foreground
{% endif %}
Restart=on-failure

[Install]
WantedBy=multi-user.target
